---
layout: default
title: Projects
permalink: /all-projects
---
<div class="off_canvars_overlay">
</div>

{% include menu.html %}
{% include header.html %}
{% include breadcrumb.html %}

<section class="infetech-projects-grid-area pt-120 pb-90">
   <div class="container">
      <div class="row">
         {% for project in site.projects %}
            <div class="col-lg-4 col-md-6">
               <div class="single-project-item">
                  <img src="{{project.feature_image | relative_url}}" alt="{{project.title}}">
                  <div class="single-project-overlay">
                     <h4 class="title">{{project.title}}</h4>
                     <span>{{project.categories}}</span>
                     <a href="{{project.url}}"><i class="fal fa-long-arrow-right"></i></a>
                  </div>
               </div>
            </div>
         {% endfor %}
         
      </div>
   </div>
</section>

{% include footer.html %}