---
layout: default
title: Projects
permalink: /projects
---
<div class="off_canvars_overlay">
</div>

{% include menu.html %}
{% include header.html %}
{% include breadcrumb.html %}

<section class="infetech-projects-grid-area pt-120 pb-90">
   <div class="container">
      <div class="row">

         <div class="col-lg-4 col-md-6">
            <div class="single-project-item">
               <img src="/assets/images/project-1.jpg" alt="">
               <div class="single-project-overlay">
                  <h4 class="title">Hermes Device</h4>
                  <span>Security</span>
                  <a href="#"><i class="fal fa-long-arrow-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-project-item">
               <img src="/assets/images/project-2.jpg" alt="">
               <div class="single-project-overlay">
                  <h4 class="title">Charon Lite</h4>
                  <span>App</span>
                  <a href="#"><i class="fal fa-long-arrow-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-project-item">
               <img src="/assets/images/project-3.jpg" alt="">
               <div class="single-project-overlay">
                  <h4 class="title">VPN</h4>
                  <span>Security</span>
                  <a href="#"><i class="fal fa-long-arrow-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-project-item">
               <img src="/assets/images/project-4.jpg" alt="">
               <div class="single-project-overlay">
                  <h4 class="title">Global Coverage SIM</h4>
                  <span>Business</span>
                  <a href="#"><i class="fal fa-long-arrow-right"></i></a>
               </div>
            </div>
         </div>


      </div>
   </div>
</section>

{% include footer.html %}