---
layout: default
title: Services
permalink: /all-services

---
<div class="off_canvars_overlay">
</div>

{% include menu.html %}
{% include header.html %}
{% include breadcrumb.html %}


<section class="infetech-service-area infetech-service-page-area">
    <div class="container">
        <div class="row">
            {% for service in site.services %}
            <div class="col-lg-4 col-md-6">
                <div class="single-infetech-serice-item animated wow fadeInUp" data-wow-duration="1500ms"
                    data-wow-delay="0ms">
                    <div class="thumb">
                        <img src="{{service.feature_image | relative_url}}" alt="{{service.title}}">
                    </div>
                    <div class="content">
                        <div class="icon">
                            <img src="assets/images/icon/service-icon-1.png" alt="">
                        </div>
                        <h3 class="title"><a href="{{service.url | relative_url}}">{{service.title}}</a></h3>
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div>
    </div>
</section>

{% include section-cta.html %}

{% include footer.html %}