<section class="infetech-project-details-list-area pb-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section-title text-center mb-40">
                    <span>Recent Projects</span>
                    <h3 class="title">Explore Other Projects</h3>
                </div>
            </div>
        </div>
        <div class="row">

            {% for project in site.projects limit:4 %}
            {% if project.project_id != page.project_id%}
            <div class="col-lg-4 col-md-6">
                {% include project-card.html %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>