<footer class="infetech-footer-area pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-3   col-md-6">
        <div class="footer-about">
          <a href="{{site.url | relative_url}}"><img src="{{'/assets/images/logo-white.svg' | relative_url}}" alt=""></a>

          <p>We work with a passion of taking challenges and creating new ones in advertising sector.</p>

          <ul>
            <li><a href="{{site.twitter | relative_url}}"><i class="fab fa-twitter"></i></a></li>
            <li><a href="{{site.facebook | relative_url}}"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="{{site.linkedin | relative_url}}"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="{{site.instagram | relative_url}}"><i class="fab fa-instagram"></i></a></li>
          </ul>

        </div>
      </div>

      <div class="col-lg-2 offset-lg-4 col-md-6">
        <div class="footer-nav">

          <h4 class="title pb-3">Links</h4>
          <ul>
            <li><a href="{{'/all-services' | relative_url}}">Services</a></li>
            <li><a href="{{'/all-projects' | relative_url}}">Projects</a></li>
            <li><a href="{{'/blog' | relative_url}}">Blog</a></li>
            <li><a href="{{'/contact' | relative_url}}">Contact</a></li>
            <li><a href="{{'/terms' | relative_url}}">Terms of service</a></li>
            <li><a href="{{'/privacy' | relative_url}}">Privacy Policy</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-info">
          <h4 class="title pb-3">Contact</h4>
          <ul>
            <li><i class="fas fa-phone"></i><span>+ +359888951312</span></li>
            <li><i class="fas fa-envelope"></i><span>info@protecturo.com</span></li>
            <li><i class="fas fa-map-marker"></i><span>Sofia, Dubai, London, Montenegro</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="footer-copyright infetech-footer-area">
  <p>© All Copyright <script>const date = new Date(); document.write(date.getFullYear()); </script> by protecturo</p>
</div>

<div class="go-top-area">
  <div class="go-top-wrap">
    <div class="go-top-btn-wrap">
      <div class="go-top go-top-btn">
        <i class="fal fa-angle-double-up"></i>
        <i class="fal fa-angle-double-up"></i>
      </div>
    </div>
  </div>
</div>