<header class="infetech-header-area-2">
  <div class="header-topbar-layout-2">
    <div class="header-topbar header-topbar-layout-2">
      <div class="row g-0 align-items-center ">
        <div class="col-lg-5">
          <div class="header-topbar-text">
            <p>Welcome to Protecturo </p>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="header-topbar-info-wrapper">
            <div class="header-topbar-info">
              <ul>
                <li><i class="fas fa-envelope"></i> info@protecturo.com</li>
              </ul>
            </div>
            <div class="header-topbar-social">
              <ul>
                <li><a href="{{site.twitter | relative_url}}"><i class="fab fa-twitter"></i></a></li>
                <li><a href="{{site.facebook | relative_url}}"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="{{site.linkedin | relative_url}}"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="{{site.instagram | relative_url}}"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-main-nav-layout-2 {% if page.template != 'tags' %} header-sticky {% endif %} bg-dark">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo-white">
          <a href="{{'/' | relative_url}}"><img src="{{site.logo | relative_url}}" alt="{{site.title}}"></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="header-main-nav-box">
          {% include navigation.html %}
        </div>
      </div>
      <div class="col-md-3">
        <div class="header-main-info">
          <div class="header-mini-btn">
            <ul>
              <li><a class="toggle-bar canvas_open" href="#"><i class="fal fa-bars"></i></a></li>
            </ul>
          </div>
          <div class="header-main-info-contact">
            <div class="icon">
              <img src="{{site.mobile_logo | relative_url}}" alt="{{site.title}}">
            </div>
            <div class="content">
              <span>Call Anytime</span>
              <a href="tel:+359888951312">+359888951312</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

































