<div class="offcanvas_menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="offcanvas-social">
                        <ul class="text-center">
                            <li><a href="{{site.twitter | relative_url}}"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="{{site.facebook | relative_url}}"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="{{site.linkedin | relative_url}}"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="{{site.instagram | relative_url}}"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">


                            {% for link in site.data.navigation %}
                            <li class="menu-item-has-children active">
                                <a href="{{link.url | relative_url}}">{{link.text}}</a>
                                {% if link.submenu %}
                                <ul class="sub-menu">
                                    {% for subitem in link.submenu %}
                                    <li><a href="{{subitem.link | relative_url}}">{{subitem.text}}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="offcanvas_footer">
                        <span><a href="mailto:info@protecturo.com"><i class="fa fa-envelope-o"></i>
                                info@protecturo.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>