<section class="infetech-cta-2-area pt-100 pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="cta-content">
                    <p>{{site.data.site_data.home.cta_section.top_heading}}</p>
                    <h2 class="title">{{site.data.site_data.home.cta_section.heading}}</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="cta-btn text-right">
                    <a class="main-btn"
                        href="{{site.data.site_data.home.cta_section.btn_link | relative_url}}">{{site.data.site_data.home.cta_section.btn_label}}</a>
                </div>
            </div>
        </div>
    </div>
</section>