<section class="infetech-banner-area-layout-2 ">
    <div class="infetech-banner-slide-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="infetech-banner-content">
                        <div class="info-text">
                            <h1 class="title" data-animation="fadeInUp" data-delay=".3s">{{site.data.site_data.home.hero_section.title}}</h1>
                            <p data-animation="fadeInUp" data-delay=".6s">{{site.data.site_data.home.hero_section.description}}</p>
                            <a class="main-btn" data-animation="fadeInUp" data-delay=".9s" href="{{site.data.site_data.home.hero_section.btn_url | relative_url}}">{{site.data.site_data.home.hero_section.btn_label}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>