<section class="infetech-fun-facts-area pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="fun-facts-item">
                    <h4 class="title"><span class="counter">{{site.data.site_data.home.fact_section.active_clients}}</span> <sup>+</sup></h4>
                    <div class="content-box">
                        <span>Active Clients</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fun-facts-item">
                    <h4 class="title"><span class="counter">{{site.data.site_data.home.fact_section.projects_completed}}</span> <sup>+</sup></h4>
                    <div class="content-box">
                        <span>Projects Completed</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fun-facts-item">
                    <h4 class="title"><span class="counter">{{site.data.site_data.home.fact_section.glorious_years}}</span> <sup>+</sup></h4>
                    <div class="content-box">
                        <span>Glorious Years</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fun-facts-item">
                    <h4 class="title"><span class="counter">{{site.data.site_data.home.fact_section.professional_team}}</span> <sup>+</sup></h4>
                    <div class="content-box">
                        <span>Professional Team</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>