<div class="infetech-sponser-area infetech-sponser-area-2">
    <div class="container">
        <div class="row infetech-sponser-slide">
            
            {% for logo in site.data.site_data.home.sponsor_section %}
                <div class="col-lg-3">
                    <div class="infetech-sponser-item">
                        <img src="{{logo.img_src | relative_url}}" alt="{{logo.title}}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>