<div class="infetech-sponser-area infetech-sponser-area-2">
    <div class="container">
        <div class="row infetech-sponser-slide">
            <div class="col-lg-3">
                <div class="infetech-sponser-item">
                    <img src="assets/images/brand-logo/aws.svg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="infetech-sponser-item">
                    <img src="assets/images/brand-logo/bitmain.svg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="infetech-sponser-item">
                    <img src="assets/images/brand-logo/cloudflare.svg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="infetech-sponser-item">
                    <img src="assets/images/brand-logo/hetzner.svg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="infetech-sponser-item">
                    <img src="assets/images/brand-logo/nvidia.svg" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="infetech-sponser-item">
                    <img src="assets/images/brand-logo/telegreeen.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>