<div class="faq-box-area animated wow fadeIn" data-wow-duration="500ms" data-wow-delay="0ms">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="faq-box-item">
                    <h2 class="text-white">{{site.data.site_data.home.imformation_section.contact_text}}</h2>
                    <a class="main-btn" href="{{site.data.site_data.home.imformation_section.btn_link | relative_url }}">{{site.data.site_data.home.imformation_section.btn_label}}</a>
                </div>
            </div>
        </div>
    </div>
</div>