<section class="infetech-banner-area-layout-2 ">
    <div class="infetech-banner-slide-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="infetech-banner-content">
                        <div class="info-text">
                            <h1 class="title" data-animation="fadeInUp" data-delay=".3s">Your Security Expert</h1>
                            <p data-animation="fadeInUp" data-delay=".6s">We are a software boutique, specialized in
                                privacy and security solutions. Our team builds different apps and infrastructure
                                for both private and public sectors.</p>
                            <a class="main-btn" data-animation="fadeInUp" data-delay=".9s" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>