<section class="infetech-home-contact pb-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 animated wow fadeInUp" data-wow-duration="500ms" data-wow-delay="0ms">
                <div class="home-contact-leftbar">

                    <div class="contact-content-item mt-60">
                        <div class="icon">
                            <i class="fal fa-check"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Cloud Based Services</h3>
                            <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                                is simply free text quis bibendum. Vestibulum non sollicitudin diam. Sed mac sem
                                ipsum.</p>
                        </div>
                    </div>
                    <div class="contact-content-item mt-70">
                        <div class="icon">
                            <i class="fal fa-check"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Expert Team Members</h3>
                            <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                                is simply free text quis bibendum. Vestibulum non sollicitudin diam. Sed mac sem
                                ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 animated wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="home-contact-box">
                    <form action="#">
                        <div class="section-title text-center mb-25">
                            <span>Contact with Us</span>
                            <h3 class="title">Write Email Now</h3>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="input-box">
                            <input type="email" placeholder="Email Address">
                        </div>
                        <div class="input-box">
                            <textarea name="#" id="#" cols="30" rows="10" placeholder="Write a Message"></textarea>
                        </div>
                        <div class="input-box">
                            <button class="main-btn" type="submit">Send a message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>