<section class="infetech-fun-facts-area pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="fun-facts-item">
                    <h4 class="title"><span class="counter">330</span> <sup>+</sup></h4>
                    <div class="content-box">
                        <span>Active Clients</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fun-facts-item">
                    <h4 class="title"><span class="counter">920</span> <sup>+</sup></h4>
                    <div class="content-box">
                        <span>Projects Completed</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fun-facts-item">
                    <h4 class="title"><span class="counter">20</span> <sup>+</sup></h4>
                    <div class="content-box">
                        <span>Glorious Years</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fun-facts-item">
                    <h4 class="title"><span class="counter">112</span> <sup>+</sup></h4>
                    <div class="content-box">
                        <span>Professional Team</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>