// Font Family
$catamaran: 'Montserrat', sans-serif;
$heading-font: 'AgencyFB', sans-serif;



// Colors ---------------
$white: #fff;
$black: #000000;
$grey:#f7f7fd;
$theme-gray:#f3ecec;
$theme-color: #D41700;

$theme-color-2: #7F0011;
$text-color: #4a4a4a;
$hr-border-color:#eceff8;


// Heading Color
$heading-color: #404040;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$laptop-mid: 'only screen and (min-width: 992px) and (max-width: 1365px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


