<!DOCTYPE HTML>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %}

    <!--  Add Favicon -->
    <link rel="icon" href="{{'/assets/images/favicon-32x32.png' | relative_url}}" type="image/x-icon" />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{{'/assets/css/bootstrap.min.css' | relative_url}}">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="{{'/assets/css/font-awesome.min.css' | relative_url}}">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="{{'/assets/css/animate.min.css' | relative_url}}" />

    <!--====== magnific popup css ======-->
    <link rel="stylesheet" href="{{'/assets/css/magnific-popup.css' | relative_url}}">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{{'/assets/css/slick.css' | relative_url}}">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="{{'/assets/css/default.css' | relative_url}}">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="{{'/assets/css/style.min.css' | relative_url}}">

    {% feed_meta %}

</head>

<body>
   
    {{content}}

    
    <!--=========== JS Add ==========-->

    <!--====== jquery js ======-->
    <script src="{{'/assets/js/vendor/modernizr-3.6.0.min.js' | relative_url}}"></script>
    <script src="{{'/assets/js/vendor/jquery-1.12.4.min.js' | relative_url}}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{{'/assets/js/bootstrap.min.js' | relative_url}}"></script>

    <!--====== magnific popup js == ====-->
    <script src="{{'/assets/js/jquery.magnific-popup.min.js' | relative_url}}"></script>

    <!--====== counterup js == ====-->
    <script src="{{'/assets/js/jquery.counterup.min.js' | relative_url}}"></script>
    <script src="{{'/assets/js/waypoints.min.js' | relative_url}}"></script>

    <!--====== wow js ======-->
    <script src="{{'/assets/js/wow.js' | relative_url}}"></script>

    <!--====== circle progress js ======-->
    <script src="{{'/assets/js/circle-progress.js' | relative_url}}"></script>

    <!--====== Slick js ======-->
    <script src="{{'/assets/js/slick.min.js' | relative_url}}"></script>

    <!--====== Main js ======-->
    <script src="{{'/assets/js/main.js' | relative_url}}"></script>



</body>

</html>